---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../../main.css";
---

<Layout title="Welcome to Astro.">
  <main class="flex h-screen w-full flex-col items-center justify-center">
    <Card title="Login" href="/login" body="Login to your account" />
  </main>
</Layout>
