---
interface Props {
  img: string;
  title: string;
  body: string;
  href?: string;
  width?: string;
  heigth?: string;
}

const { img, href = "/", title, body, width, heigth } = Astro.props;
---

<div
  class={`${width ? width : "w-64"} ${heigth ? heigth : "h-64"}
  relative text-white max-sm:w-36 max-sm:h-28
  `}
>
  <img
    class="h-full w-full object-cover transition-all duration-300 ease-in-out hover:scale-105"
    src={img}
    alt={title}
  />
  <div class="absolute bottom-0 left-0 w-full bg-black/80 p-2">
    <h2>{title}</h2>
    <p>{body}</p>
  </div>
</div>
