---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<div
  class="card flex flex-col bg-[#23262d] bg-[length:400%] bg-[position:0px_0px] p-[1px] shadow-[inset_0_0_0_1px_rgba(255,255,255,0.1)]"
>
  <form
    class="line-height-[1.4] w-full rounded-lg bg-[#23262d] p-[calc(1.5rem-1px)] text-white opacity-5"
  >
    <h2 class="card m-0 text-2xl font-bold">
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="mb-0 mt-[0.5rem]">
      {body}
    </p>
  </form>
</div>
<style>
  :global(.card:hover) {
    background-image: var(--accent-gradient);
    background-position: 0%;
  }
</style>

<!-- .card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
  } 
 -->
