---
import Card from "./Card.astro";
const items = [
  { img: "/image_1.png" },
  { img: "/image_2.png" },
  { img: "image_4.png" },
  { img: "/image_5.png" },
  { img: "/image_6.png" },
  { img: "/image_7.png" },
  { img: "image_8.png" },
  { img: "/image_1.png" },
  { img: "/image_2.png" },
  { img: "image_4.png" },
  { img: "/image_5.png" },
  { img: "/image_6.png" },
  { img: "/image_7.png" },
  { img: "image_8.png" },
];
---

<main class="auto flex w-full flex-wrap items-center justify-center gap-4 p-4">
  {items.map((item) => <Card img={item.img} icon />)}
</main>

<!-- <div
  class={`${width ? width : "min-w-64 max-w-64"} ${heigth ? heigth : "min-h-64 max-h-64"}
  bg-[#23262d] flex bg-cover bg-right-bottom bg-no-repeat shadow-inner transition-all duration-600 ease-in-out hover:bg-gradient-to-r from-white to-red-700 hover:bg-left-top
  `}
>
  <div class="w-full bg-[#23262d] opacity-60"></div>
</div> -->
