---
import Card from "./Card.astro";
const cards = [
  { title: "Music", img: "image_1.png" },
  { title: "Lights", img: "image_2.png" },
  { title: "Tools", img: "image_4.png" },
  { title: "Stickers", img: "image_5.png" },
];
---

<h1 class="p-4 text-2xl font-bold text-white">Categories</h1>
<main
  class="no-scrollbar h-62 mb-14 flex w-full items-center justify-center gap-5 overflow-x-scroll"
>
  {
    cards.map((card) => (
      <Card img={card.img} title={card.title} styles="w-64 !h-28 min-w-40 " />
    ))
  }
</main>

<style>
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    scrollbar-width: none;
  }
</style>
