<main
  id="footer"
  class="fixed bottom-0 left-0 z-50 h-10 w-full border-t border-white/20 bg-white/10 shadow-lg backdrop-blur-sm"
>
  <div
    class="flex h-full w-full items-center justify-around px-5 text-white max-sm:flex-col"
  >
    <p class="w-full text-left">
      Copyright &copy; {new Date().getFullYear()}
    </p>
    <h3 class="w-full text-right">
      Programed and designed by: <b
        ><a
          class="text-rose-600"
          href="https://darco.vercel.app/"
          target="_blank"
        >
          AGP</a
        ></b
      >
    </h3>
  </div>
</main>

<script>
  (() => {
    let lastScroll = 0;
    const footer = document.getElementById("footer") as HTMLElement;
    footer.style.transition = "all 0.3s ease-in-out";

    const footerHeight = window.innerHeight * 0.1;
    const heightPage = document.documentElement.scrollHeight;
    const currentScroll = window.innerHeight;

    window.addEventListener("scroll", () => {
      if (window.scrollY + currentScroll > heightPage - footerHeight) {
        footer.classList.add("footer-top");
        footer.style.transform = "translateY(0)";
        lastScroll = window.scrollY;
        return;
      }

      footer.classList.remove("footer-top");
      footer.classList.add("border-white/20");
      footer.classList.add("border-b");

      if (window.scrollY > lastScroll) {
        footer.style.transform = "translateY(100%)";
      } else {
        footer.style.transform = "translateY(0)";
      }
      lastScroll = window.scrollY;
    });
  })();
</script>

<style>
  .footer-top {
    all: revert;
    padding: 1rem;
  }
</style>
