<header
  id="header"
  class="fixed left-0 top-0 z-50 w-full border-b border-white/20 bg-white/10 p-4 text-white shadow-lg backdrop-blur-sm"
>
  <nav>
    <ul
      class="[&>li>a]:decoration-none ] flex list-none gap-4 hover:[&>li>a]:underline"
    >
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
<script>
  (() => {
    let lastScroll = 0;
    const headerHeight = window.innerHeight * 0.1;
    const header = document.getElementById("header") as HTMLElement;
    header.style.transition = "all 0.3s ease-in-out";

    window.addEventListener("scroll", () => {
      if (window.scrollY < headerHeight) {
        header.classList.add("header-top");
        header.style.transform = "translateY(0)";
        lastScroll = window.scrollY;
        return;
      }

      header.classList.remove("header-top");

      if (window.scrollY < lastScroll) {
        header.style.transform = "translateY(-100%)";
      } else {
        header.style.transform = "translateY(0)";
      }
      lastScroll = window.scrollY;
    });
  })();
</script>

<style>
  .header-top {
    all: revert;
    color: white;
    padding: 1rem;
  }
</style>
