<main
  class="mt-[-10vh] flex h-screen w-11/12 flex-col-reverse items-center justify-center md:mt-5 md:flex-row [&>section]:flex [&>section]:h-full [&>section]:w-full"
>
  <section class="flex items-center">
    <img
      data-tilt
      data-tilt-speed="600"
      data-tilt-perspective="500"
      src="/car.png"
      alt="main-img"
    />
  </section>
  <section class="flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold text-white">Hello world!</h1>
    <p id="typewriter" class="text-white"></p>
  </section>
</main>

<script>
  import Typewriter from "typewriter-effect/dist/core";
  import "vanilla-tilt";

  const container = document.getElementById("typewriter") as HTMLElement;
  const typewriter = new Typewriter(container, {
    loop: true,
    delay: 500,
  });
  typewriter.typeString("Hello world!").start();
</script>
